@*<div class="align-self-lg-center">
    <h3>İade Koşulları</h3>
    <h5>30 gün içersinde kargoya teslim edilirse ücret iadesi yapılmaktadır.</h5>
</div>*@



<div>
    <div class="container">
        @*<div class="row">*@               
                <h3>İade Koşulları:  30 gün içersinde kargoya teslim edilirse ücret iadesi yapılmaktadır.</h3>
        @*</div>*@
    </div>
</div>