@*<div class="align-middle">
    <h5>Telefon:  999999</h5>
    <h5>Email:    info@hotmail.com</h5>
</div>*@

<div>
        <div class="container">
            <div class="row">
                <div id="footer">
                    <ul>
                        @*<li><h3>Telefon:</h3>  <h1> 0535-523-11-89</h1></li>*@
                        <br />
                        <li><h5>Email:</h5><h5>info@sanessanat.com</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>