@*@model Product

<div class="card">
    <img class="card-img-top" src="~/img/@Model.ImgUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <a href="" class="btn btn-primary">İncele</a>
    </div>
</div>*@   