@*<div class="align-middle">
    <h5>Telefon:  999999</h5>
    <h5>Email:    info@hotmail.com</h5>
</div>*@

<div>
        <div class="container">
            <div class="row">
                <div id="footer">
                    <ul>
                        <li><h3>Özellik 1</h3> </li>
                        <br />
                        <li><h3> 1934 yılında dikilmiş</h3></li>
                        <br />
                        <li><h3>  Hurma yaprağı</h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>